<%= simple_form_for @safe_place do |f| %>
<%= f.input :name %>
<div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  <%= f.input :adress,
    input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
    label: false,
    wrapper: false
  %>
</div>
<%= f.input :options, collection: SafePlace::OPTIONS, as: :check_boxes %>
<%= f.submit "Créer un endroit sûr" %>
<% end %>