<h1><%= @safe_place.name %></h1>
<p><%= @safe_place.adress %></p>
<p><%= @safe_place.options %></p>

<%= link_to "Back", safe_places_path %>
<%= link_to "Edit", edit_safe_place_path(@safe_place) %>
<%= link_to "Delete", safe_place_path(@safe_place), method: :delete, data: { confirm: "Are you sure?" } %>
