<div class="card-feed" data-controller="feed">
<div>
<%  if feed.nursy_type == "Tirage" %>
  <i class="fa-solid fa-person-dress" style="color:#FBC4AB;font-size:32px;margin-left:8px"></i>
<% else %>
  <i class="fa-solid fa-person-breastfeeding" style="color:#FBC4AB;font-size:32px;margin-left:8px"></i>
<% end %>
</div>
<div class="card-feed-title">
  <p class="card-child-name"><%= feed.created_at.strftime("%d/%m/%Y") %></p>
  <%  if feed.nursy_type == "Tetee" && feed.child.present? %>
    <div class="no-style">
      <h4 class="card-child-name"><%= feed.child.first_name %></h4>
      <p class="card-child-name"><%= feed.time_left + feed.time_right %> min</p>
    </div>
  <%  elsif feed.nursy_type == "Tirage" %>
    <div class="no-style">
      <h5 class="card-child-name">Tirage</h5>
      <p class="card-child-name"><%= (feed.quantity_left.to_f + feed.quantity_right.to_f) %> ml</p>
    </div>
  <% end %>
  </div>
<div class="card-feed-content">
<%= link_to mother_feed_path(@mother, feed) do %>
  <i class="fa-solid fa-pencil" style="font-size:16px"></i>
  <% end %>
  <%= link_to mother_feed_path(@mother, feed), data: { turbo_method: :delete, turbo_confirm: "true", action: "click->feed#supprimer" } do %>
  <i class="fa-solid fa-trash" style="font-size:16px"></i>
  <% end %>
</div>
</div>
