<%= render "mothers/components/navbar_mother_mini" %>
<div class="container-show-feed">
  <h2><%= @feed.nursy_type %></h2>
  <p class="creation-date"> Réalisé le <%= @feed.created_at.strftime("%d/%m/%Y") %> à <%= @feed.created_at.strftime("%H:%M") %></p>

  <div class="temps-total-show">
    <p>Temps total:</p>
    <p id="temps-total-show-value">
      <!-- Display the total time in a human-readable format -->
      <%= minutes_and_seconds(@feed.time_left + @feed.time_right) %>
    </p>
  </div>
  <div class="donnee-boob">
    <!-- Left boob -->
    <div class="left-boob-show">
      <h6>Gauche</h6>
      <!-- Time -->
      <p>Temps:</p>
      <p class="time-left-show">
        <%= minutes_and_seconds(@feed.time_left) %>
      </p>
      <!-- Quantity -->
      <%  if @feed.nursy_type == "Tirage" %>
        <p>Quantité:</p>
        <p class="quantity-left-show">
          <%= @feed.quantity_left %> ml
        </p>
      <% end %>
    </div>
    <!-- ********** -->
    <!-- Right boob -->
    <div class="right-boob-show">
      <h6>Droite</h6>
      <!-- Time -->
      <p>Temps:</p>
      <p class="time-right-show">
        <%= minutes_and_seconds(@feed.time_right) %>
      </p>
      <!-- Quantity -->
      <%  if @feed.nursy_type == "Tirage" %>
        <p>Quantité:</p>
        <p class="quantity-right-show">
          <%= @feed.quantity_right %> ml
        </p>
      <% end %>
    </div>
    <!-- ********** -->
  </div>
  <h3 class="mt-3"> Commentaire: </h3>
  <p class="comment-show"><%= @feed.comment %></p>
  <h4>Je me sentais:</h4>
  <div class="emoji-show">
    <%= emoji_for_mood(@feed.mood) %>
  </div>
  <% if @feed.nursy_type == "Tetee" %>
    <h4 class="mt-2">Enfant:</h4>
    <p class="child-show">
      <%= @feed.child ? @feed.child.first_name : "Aucun enfant sélectionné" %>
    </p>
  <% end %>
  <div class="d-flex mt-3 align-items-center justify-content-center gap-3">
    <%= link_to "Retour", mother_feeds_path(@mother), class: 'link' %>
    <%= link_to "Editer", edit_mother_feed_path(@feed), class: 'button-standard-dark' %>
  </div>
</div>
