<!-- Message window -->
 <%= turbo_frame_tag "messages_modal" do %>
    <div class="message-container" data-controller="messages-modal" data-messages-modal-target="messageContainer">
    <div class="message-content">


    <p class="message-text-incoming">Message de incoming 1</p>
    <p class="message-text-outgoing">Message de outgoing 2</p>
    <p class="message-text-incoming">Message de incoming 3</p>
    <p class="message-text-outgoing">Message de outgoing 4</p>
    <p class="message-text-incoming">Message de incoming 5</p>
    <p class="message-text-outgoing">Message de outgoing 6</p>
    <p class="message-text-incoming">Message de incoming 7</p>
    <p class="message-text-outgoing">Message de outgoing 8</p>
    <p class="message-text-incoming">Message de incoming 9</p>
    <p class="message-text-outgoing">Message de outgoing 10</p>
    <p class="message-text-incoming">Message de incoming 11</p>
    <p class="message-text-outgoing">Message de outgoing 12</p>
    <p class="message-text-incoming">Message de incoming 13</p>
    <p class="message-text-outgoing">Message de outgoing 14</p>
    <p class="message-text-incoming">Message de incoming 15</p>
    <p class="message-text-outgoing">Message de outgoing 16</p>
    <p class="message-text-incoming">Message de incoming 17</p>
    <p class="message-text-outgoing">Message de outgoing 18</p>
    <p class="message-text-incoming">Message de incoming 19</p>
    <p class="message-text-outgoing">Message de outgoing 20</p>
    </div>
    
    <%= form_with url: messages_path, method: :post do |f| %>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 0.2rem;">
          <%= f.text_field :content, placeholder: "Message", class: "message-input-field" %>
          <%= f.submit "Envoyer", class: "button-standard" %>
        </div>
      <% end %>
       <%= link_to "Fermer", "#", data: { 
                                    controller: "messages-modal", 
                                    action: "messages-modal#close",
                                   }, class: "button-close" %>
    </div>
<% end %>