<!--

<div class="modal fade" id="ModalMotherTirage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
       <div class="modal-header justify-content-center">
        <h5 class="modal-title" id="exampleModalLabel">Tétée</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <h6 class="fw-bolder mb-2" data-chronometer-target="totaltime">Temps total: </h6>
        </div>
        <%#= simple_form_for [@mother, @feed], namespace: "modal_2"  do |f| %>-->
          <%#= f.input :nursy_type, as: :hidden, input_html: { value: "Tetee" } %>
          <%#= f.input :time_left, wrapper_html: { class: 'form-group' }, input_html: { class: 'form-input-modal', data: { chronometer_target: "inputleft1"} }, label: "Gauche"%>
          <%#= f.input :time_right, wrapper_html: { class: 'form-group' }, input_html: { class: 'form-input-modal', data: { chronometer_target: "inputright1"} }, label: "Droite" %>
          <%#= f.input :comment %>
<!--        <div class="form-inline">-->
          <%#= f.input :mood, as: :radio_buttons, collection: Feed.moods.keys.map {
            |mood| [emoji_for_mood(mood), mood] }, item_wrapper_class: 'emoji-option', label_method: :first, value_method: :last, input_html: {class:"emoji-radio"} %>
<!--        </div>-->
        <%#= f.error :mood %>
         <%#= f.input :child_id, as: :select, collection: @mother.children.map { |c| [c.first_name, c.id] }, prompt: "Select child" %>
<!--          <div class="d-flex justify-content-center">-->
            <%#= f.button :submit, class: 'button-standard-dark'%>
<!--          </div>-->
        <%# end %>
<!--      </div>
    </div>
  </div>
</div>

<!--End of Modal -->-->
<!---->
<div class="modal fade" id="ModalMotherTirage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header justify-content-center p-0">
        <h5 class="modal-title" id="exampleModalLabel">Tétée</h5>
      </div>
      <div class="modal-body">
        <div class="row">
          <h6 class="fw-bolder mb-2" data-chronometer-target="totaltime">Temps total: </h6>
        </div>

        <%= simple_form_for [@mother, @feed], namespace: "modal_2"  do |f| %>
          <%= f.input :nursy_type, as: :hidden, input_html: { value: "Tetee" } %>

          <!-- Temps gauche -->
          <div class="form-group-modal-feed mb-3">
            <label>Gauche</label>
            <div class="row">
              <div class="col text-center">
                <%= f.input :time_left_minutes,
                            label: "Minutes",
                            input_html: { class: "form-input-modal", min: 0, type: :number, data: { chronometer_target: "inputleft_minutes" } },
                            wrapper: false %>
              </div>
              <div class="col text-center">
                <%= f.input :time_left_seconds,
                            label: "Secondes",
                            input_html: { class: "form-input-modal", min: 0, max: 59, type: :number, data: { chronometer_target: "inputleft_seconds" } },
                            wrapper: false %>
              </div>
            </div>
          </div>

          <!-- Temps droite -->
          <div class="form-group-modal-feed mb-3">
            <label>Droite</label>
            <div class="row">
              <div class="col text-center">
                <%= f.input :time_right_minutes,
                            label: "Minutes",
                            input_html: { class: "form-input-modal", min: 0, type: :number, data: { chronometer_target: "inputright_minutes" } },
                            wrapper: false %>
              </div>
              <div class="col text-center">
                <%= f.input :time_right_seconds,
                            label: "Secondes",
                            input_html: { class: "form-input-modal", min: 0, max: 59, type: :number, data: { chronometer_target: "inputright_seconds" } },
                            wrapper: false %>
              </div>
            </div>
          </div>

          <%= f.input :comment, label: "Commentaire" %>

          <div class="form-inline mb-3">
            <%= f.input :mood, as: :radio_buttons,
                        collection: Feed.moods.keys.map { |mood| [emoji_for_mood(mood), mood] },
                        item_wrapper_class: 'emoji-option',
                        label_method: :first, value_method: :last,
                        input_html: { class: "emoji-radio" } %>
          </div>

          <%= f.error :mood %>

          <%= f.input :child_id, as: :select,
                      collection: @mother.children.map { |c| [c.first_name, c.id] },
                      prompt: "Sélectionner un enfant",
                      label: "Enfants" %>

          <div class="d-flex justify-content-center mt-3">
            <%= f.button :submit, "Créer une entrée", class: 'button-standard-dark' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
