<div class="nav-bar-mother-mini" data-controller="menu-bar-mother">
  <div class="menu-bar">
    <button class="menu__icon button-menu" data-action="click->menu-bar-mother#toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="no-style">
    <%= link_to new_message_path, data: { turbo_frame: "messages_modal" } do %>
      <div class="chat-button">
        <i class="fa-solid fa-comment-dots"></i>
      </div>
    <% end %>
    <%= link_to doctor_path(@doctor) do %>
        <% if @doctor.avatar.attached? %>
        <div id="avatar">
          <%= cl_image_tag @doctor.avatar.key,  gravity: "auto", height: 600, width: 600, crop: :fill, class: "avatar" %>
        </div>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dc7iookgc/image/upload/v1747992835/samples/two-ladies.jpg", class: "avatar" %>
        <% end %>
        <% end %>
    </div>
  </div>

  <!-- Menu content shown/hidden -->
  <div class="menu-bar-display">
    <nav class="menu-content">
      <% if current_page?(doctors_path) %>
        <%= link_to "Profil", doctor_path(@doctor), class: "menu-item" %>
      <% else %>
        <%= link_to "Page d'accueil", doctors_path, class: "menu-item" %>
      <% end %>
      <%= link_to "Historique", messages_history_path, class: "menu-item" %>

      <% if user_signed_in? %>
        <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "menu-item" %>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "menu-item" %>
      <% end %>
      <% unless params[:controller] == "feeds" && params[:action]  == "new" %>
      <button class="button-home" data-menu-bar-mother-target="nouvelle_tete">
      <%= link_to 'Discussions', messages_path %>
    </button>
    <% end %>
    </nav>
  </div>
</div>
