<%= turbo_frame_tag "edit-mother-details" do %>
    <h3>Editer vos détails</h3>
<div class="mother-edit">
    <%= simple_form_for @mother, html: { class: "form-edit-mother"} do |f| %>
        <div class="mother-edit-form">
        <%= f.input :first_name, label: 'Prénom', placeholder: 'Prénom' %>
        <%= f.input :last_name, label: 'Nom', placeholder: 'Nom' %>
        </div>
        <%= f.input :birthday, label: 'Date de naissance', as: :date, html5: true, placeholder: 'Date de naissance' %>
        <p><%= f.input :time_between_feed, label: 'Temps entre les tétées en heures', as: :integer, placeholder: 'Temps entre les tétées en heures' %></p>
        <%= f.submit "Sauvegarder", class: "button-standard-dark" %>
    <% end %>
</div>
<% end %>