<%= render "mothers/components/navbar_mother" %>

<% if current_user&.sign_in_count == 1 && current_user&.userable_type == "Mother" %>
  <%= render "mothers/components/first_login" %>
<% end %>

<div class="mothers-container" style="margin-top: 1rem;">
  <div class="pill-container-child ">
    <div class="d-flex flex-row gap-2">
      <h6>Mes enfant(s)</h6>
      <%= link_to new_mother_child_path(@mother) do %>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
    <div class="mother-details-child">
      <% @mother.children.each do |child| %>
        <div class="d-flex flex-column align-items-center">
          <%= child.first_name %>
          <% if child.sexe == "fille" %>
            <i class="fa-solid fa-child-dress" style="font-size:24px"></i>
          <% elsif child.sexe == "garcon" %>
            <i class="fa-solid fa-child" style="font-size:24px"></i>
          <% else %>
            <i class="fa-solid fa-baby" style="font-size:24px"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="button-container-mothers">
  <%= link_to mother_feeds_path(@mother), class: "button-standard" do %>
    <i class="fa-solid fa-clock-rotate-left"></i> Historique
  <% end %>
  <%= link_to questions_path, class: "button-standard" do %>
    <i class="fa-solid fa-comments" style="font-size: 1rem;"></i> Conseils
  <% end %>
  <%= link_to safe_places_path, class: "button-standard" do %>
    <i class="fa-solid fa-user-shield" style="font-size: 1rem;"></i> Safe places
  <% end %>
  <%= link_to dashboard_index_path, class: "button-standard" do %>
    <i class="fa-solid fa-chart-line" style="font-size: 1rem;"></i> Dashboard
  <% end %>
  </div>
</div>
