<%= render "mothers/components/navbar_mother_mini" %>
<div class="mothers-container">
  <%= turbo_frame_tag "edit-mother-details" do %>
    <div class="mother-details">
      <div class="mother-details-avatar">
        <% if @mother.avatar.attached? %>
          <%= cl_image_tag @mother.avatar.key,  gravity: "auto", height: 600, width: 600, crop: "auto", class: "avatar-large" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dc7iookgc/image/upload/v1747992835/samples/two-ladies.jpg", class: "avatar-large" %>
        <% end %>
      </div>
      <% quantite = @mother.feeds.sum(:quantity_left) + @mother.feeds.sum(:quantity_right) %>

      <div class="mother-details-name">
        <h3>
          <%= @mother.first_name %> <%= @mother.last_name %>
        </h3>
      </div>
      <div class="mother-details-info">

        <!--   <div class="pill-container">
          <h6>Poids à la naissance: </h6>
          <p><%#= @mother.birth_weight %> kg</p>
        </div>
        <div class="pill-container">
          <h6>Taille à la naissance: </h6>
          <p><%#= @mother.birth_height %> cm</p>
        </div>-->
        <div class="pill-container-child ">
          <div class="d-flex flex-row gap-2">
            <h6>Mes enfant(s)</h6>
          </div>
          <div class="mother-details-child">
            <% @mother.children.each do |child| %>
              <div class="d-flex flex-column align-items-center">
                <%= child.first_name %>
                <% if child.sexe == "fille" %>
                  <i class="fa-solid fa-child-dress" style="font-size:24px"></i>
                <% elsif child.sexe == "garcon" %>
                  <i class="fa-solid fa-child" style="font-size:24px"></i>
                <% else %>
                  <i class="fa-solid fa-baby" style="font-size:24px"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="pill-container">
          <p>Temps entre tétées: </p>
          <h4><%= @mother.time_between_feed %> heures </h4>
        </div>

        <div class="mother-details-feeds">
          <div class="pill-container">
            <h6>Nombre de tétées: </h6>
            <p><%= @feeds.count %></p>
          </div>
          <div class="pill-container">
            <h6>Total tiré : </h6>
            <% quantite = @feeds.sum(:quantity_left) + @feeds.sum(:quantity_right) %>
            <% if quantite.to_f.round(2) > 1000 %>
              <p><%= (quantite.to_f / 1000).round(2) %> L</p>
            <% else %>
              <p><%= quantite.to_f.round(2) %> ml</p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="mother-details-buttons d-flex text-center justify-content-center align-items-center gap-2 mx-3">
    <%= link_to "Editer Informations Personnelles", edit_mother_path(@mother), class: "button-standard-dark" %>
    <%= link_to "Effacer mon profil", registration_path(current_user), data: { 
                                                                      turbo_method: :delete, 
                                                                      turbo_confirm: "Êtes-vous sûr de vouloir effacer votre profil ? Cette action est irréversible.", 
                                                                      class: "link",
                                                                      turbo_frame: "_top" } %>
  </div>
</div>
