<div id="message-<%= message.id %>" class="message <%= message.sender === user ? 'sent' : 'received' %>" data-controller="message"
    data-message-user-type-value="<%= message.sender%>">
   <small class="message-info">
    <strong><%= message.mother.first_name  %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p class="message-content"><%= message.content %></p>
</div>
