<% if current_user.userable_type === "Mother" %>
<%= render "mothers/components/navbar_mother_mini" %>
 <div class="home-header-feed" >
  <h1 class="feed-title">Vos discussions</h1>
</div>
<div class="home-container-feed">
 <% @chats.each do |chat| %>
 <%=  render "chats/card_message_doctor", chat: chat %>
<% end %>
</div>
<% elsif current_user.userable_type === "Doctor" %>
<%= render "doctors/navbar_component/navbar_doctor_mini" %>
 <div class="home-header-feed" >
  <h1 class="doctor-title">Vos discussions</h1>
</div>
<%= turbo_stream_from "chat_#{@doctor.id}" %>
<div class="home-container-feed" id="chats">
 <% @chats.each do |chat| %>
 <%=  render "chats/card_message_mother", chat: chat %>
<% end %>
</div>
</div>
<% end %>
