<!--
Landing page
-->
<%= render "pages/components/navbar_home" %>

<div class="home-container">

  <div class="home-content">
  <%= render "components/modal_card" %>
    <div>
      <h1 class="welcome-text">Bienvenue sur Nursey</h1>
    </div>
    <div class="home-text">
      <p>Pour que suivre bébé ne devienne jamais une charge.</p>
    </div>
    <div class="button-container">
      <% if user_signed_in? %>
        <button class="button-standard-dark">
          <%= link_to 'Dashboard', mothers_path %>
        </button>
        <button class="button-standard-dark">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "menu-item" %>
        </button>
      <% else %>
        <button class="button-standard-dark">
          <%= link_to 'Sign up', new_user_registration_path %>
        </button>
      <% end %>
    </div>
    <div class="phone-mockup">
      <%= image_tag "https://res.cloudinary.com/dc7iookgc/image/upload/v1748945303/phones_mockup_tmaufi.png", class: "phone-mockup-image" %>
    </div>
  </div>




</div>
