<!--
Landing page
-->
<!--<div class="<%= theme_class %>"> -->
  <div class="home-container">

    <div class="home-content">
      <div>
        <h1 class="welcome-text">Bienvenue sur Nursey</h1>
      </div>
      <div class="home-text">
        <p>Faciliter votre vie de jeune maman</p>
      </div>
      <div class="button-container">
        <% if user_signed_in? && current_user.userable_type == "Mother" %>
          <%= link_to "Page d'accueil", mothers_path, class: "button-standard-dark" %>
          <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "button-standard-dark" %>
        <% elsif user_signed_in? %>
          <%= link_to "Page d'accueil", doctors_path, class: "button-standard-dark" %>
          <%= link_to "Déconnexion", destroy_user_session_path, data: {turbo_method: :delete}, class: "button-standard-dark" %>
        <% else %>
          <button class="button-standard-dark">
            <%= link_to 'Inscription', new_user_registration_path %>
          </button>
          <button class="button-standard-dark">
            <%= link_to 'Connexion', new_user_session_path %>
          </button>
        <% end %>
      </div>
      <div class="phone-mockup">
        <%= image_tag "https://res.cloudinary.com/dc7iookgc/image/upload/v1748945303/phones_mockup_tmaufi.png", class: "phone-mockup-image" %>
      </div>
    </div>
  </div>
<%# </div> %>
