<%= render "doctors/navbar_component/navbar_doctor_mini" %>
<div class="mothers-container">

    <div class="doctor-details">
      <div class="mother-details-avatar">
        <% if @doctor.avatar.attached? %>
          <%= cl_image_tag @doctor.avatar.key,  gravity: "auto", height: 600, width: 600, crop: "auto", class: "avatar-large" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dc7iookgc/image/upload/v1747992835/samples/two-ladies.jpg", class: "avatar-large" %>
        <% end %>
      </div>


      <div class="mother-details-name">
        <h3>

          <%= @doctor.first_name %> <%= @doctor.last_name %>
        </h3>
      </div>
      <div class="mother-details-info">
        <div class="pill-container-doctor mt-5">
          <h4>Disponibilités: </h4>
          <div>
          <!-- put the availability here -->
          <%= simple_form_for [@doctor, @new_date] do |f| %>
<div class="form-header1">
    <%= f.input :date, label: "Disponibilité",  as: :string, include_blank: false, label: false, input_html: { class: "d-none mt-3", data: { controller: "datepickrdr", datepickrdr_dates_value: @datelock.uniq.to_json }}%>
    <%= f.submit "Ajouter", class: 'button-standard-dark'%>
<% end %>
</div>
</div>


        </div>
      </div>
    </div>
</div>
