<%= render "doctors/navbar_component/navbar_doctor_mini" %>
<div class="mothers-container">
  <%= turbo_frame_tag "edit-mother-details" do %>
    <div class="doctor-details">
      <div class="mother-details-avatar">
        <% if @doctor.avatar.attached? %>
          <%= cl_image_tag @doctor.avatar.key,  gravity: "auto", height: 600, width: 600, crop: "auto", class: "avatar-large" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/dc7iookgc/image/upload/v1747992835/samples/two-ladies.jpg", class: "avatar-large" %>
        <% end %>
      </div>


      <div class="mother-details-name">
        <h3>

          <%= @doctor.first_name %> <%= @doctor.last_name %>
        </h3>
      </div>
      <div class="mother-details-info">
        <div class="pill-container">
          <h6>Disponibilité: </h6>
          <!-- put the availability here -->
          <%= simple_form_for [@doctor, @new_date] do |f| %>
<div class="form-header">
    <%= f.input :date, label: "Disponibilité",  as: :string, include_blank: false, input_html: { data: { controller: "datepickrdr", datepickrdr_dates_value: @datelock.uniq.to_json, turbo: false }}%>
    <%= f.submit "Ajouter", class: 'button-standard'%>
<% end %>
</div>

          <p><%= @doctor.availabilities ? "Disponible" : "Indisponible" %></p>

        </div>
      </div>
    </div>
    <% end %>
</div>
