<div class="nav-bar-mother-mini" data-controller="menu-bar-mother">
  <div class="menu-bar">
    <button class="menu__icon button-menu" data-action="click->menu-bar-mother#toggle">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="no-style">
    <%= link_to new_message_path do %>
      <div class="chat-button">
        <i class="fa-solid fa-comment-dots"></i>
      </div>
    <% end %>
    <%= link_to mother_path(@mother) do %>
      <%= image_tag "https://res.cloudinary.com/dc7iookgc/image/upload/c_crop,w_450,h_450,ar_1:1/v1748785341/profile_jy5ww4.jpg", class: "avatar" %>
    <% end %>
    </div>
  </div>

  <!-- Menu content shown/hidden -->
  <div class="menu-bar-display">
    <nav class="menu-content">
      <% if current_page?(mothers_path) %>
        <%= link_to "Profil", mother_path(@mother), class: "menu-item" %>
      <% else %>
        <%= link_to "Page d'accueil", mothers_path, class: "menu-item" %>
      <% end %>
        <%= link_to "Dashboard", dashboard_index_path, class: "menu-item" %>    
      <%= link_to "Historique", "#", class: "menu-item" %>

      <% if user_signed_in? %>
        <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "menu-item" %>
      <% else %>
        <%= link_to "Connexion", new_user_session_path, class: "menu-item" %>
      <% end %>
      <% unless params[:controller] == "feeds" && params[:action]  == "new" %>
      <button class="button-home" data-menu-bar-mother-target="nouvelle_tete">
      <%= link_to 'Nouvelle Tetée', new_mother_feed_path(current_user.userable) %>
    </button>
    <% end %>
    </nav>
  </div>
</div>
