<!--
zone de generation de données a metre dans le controller plus tard
-->
<% avg_mood = Feed.average(:mood).to_i %>
<% mood_string = Feed.moods.key(avg_mood) %>
<% mood_options = {
  "😁" => 5,
  "🙂" => 4,
  "😐" => 3,
  "😒" => 2,
  "💔" => 1
} %>
<% mood_icon = mood_options.key(avg_mood) %>

<!--
zone de generation de données a metre dans le controller plus tard
-->

<h1 style="text-align: center; padding: 1rem; align-self: center;">Vos données</h1>
<div class="dashboard-container">
  <div class="dashboard-card">
    <h4><i class="fa-solid fa-person-breastfeeding"></i></h4>
    <h3><%= @Tetee_count %></h3>
    <h6 style="font-size: 0.7rem;">Total tetée</h6>
  </div>

  <div class="dashboard-card">
    <h4><i class="fa-solid fa-person-dress"></i></h4>
    <h3><%= @Tirage_count %></h3>
    <h6 style="font-size: 0.7rem;">Total tirage</h6>
  </div>

  <div class="dashboard-card">
    <h4><%= mood_icon %></h4>
    <h3><%= mood_string %></h3>
    <h6 style="font-size: 0.7rem;">Sentiment</h6>
  </div>

  <% if avg_mood == 2 || avg_mood == 3 %>
  <div class="dashboard-card">
    <h6 style="font-size: 0.7rem;">Nous vous conseillons de prendre un peu de temps pour vous poser et de vous détendre</h6>
  </div>
  <% elsif avg_mood == 1 %>
  <%= link_to new_message_path, class: "dashboard-card" do %>
    <h6 style="font-size: 0.7rem;">Contactez un expert pour vous aider, il suffit de cliquer <strong>ICI</strong></h6>
  <% end %>
  <% else avg_mood >= 4 %>
    <div class="dashboard-card">
    <h6 style="font-size: 0.7rem;">Vous fetez bien, continuez comme ca !</h6>
  </div>
  <% end %>
</div>

<div class="dashboard-section">
<h6>
  Ready to populate lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
</h6>
</div>

</div>
</div>
