<%= render "mothers/components/navbar_mother_mini" %>
<div class="container text-center">
  <h1>Éditer un avis</h1>
  <%= simple_form_for [@safe_place, @review] do |f| %>
    <div class="form-review-wrap">
<%= f.input :rating, as: :integer, label: "Note (de 1 à 5)" %>
      <%= f.input :comment, as: :text, label: "Votre avis" %>
    </div>
    <%= f.button :submit, "Sauvegarder", class: "button-standard-dark" %>
  <% end %>
</div>
