<!DOCTYPE html>
<html>
  <head>
    <title>Nursey</title>
    <meta name="description" content="Nursey est une application de suivi de l'alimentation de votre bébé. En toute simplicité.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= theme_class %>">
  <%= render "shared/flashes" %>
  <%= turbo_frame_tag "redirect_chat_window" %>
  <%= yield %>
  </body>

</html>
